:root {
    --dark-blue: #002d72;
}

body{
    font-family:"Open Sans", sans-serif;
    margin: 0;
}

h1, h2, h3 {
    text-align: center;
    margin: 0;
}

h4, h5 {
    text-align: center;
    margin-top: 5px;
    margin-bottom: 15px;
}

p {
    font-family:"Open Sans", sans-serif;
    margin:0;
}

button, input, select, textarea, label {
    font-family: inherit;
    display: inline-block;
    margin: 5px;
    font-size: 100%;
}

label {
    width: 175px;
}

.inputBox {
    width: 150px;
    border-radius: 10px;
}

form {
    display: block;
}

#overlay {
    padding: 20px;
    width: 25%;
    height: 35%;
    color: white;
    margin: 2% 60px;
    float: left;
    border-radius: 20px;
    background-color: var(--dark-blue);
    position: absolute;
    z-index: 2;
    display: inline;
    border: 5px solid white;
}

#coordSubmit {
    background-color: transparent;
    border-radius: 5px;
    color: white;
    padding: 5px 15px;
    border: 2px solid white;
    display: block;
    margin: 15px auto 0;
}

#coordSubmit:hover {
    background-color: white;
    color: var(--dark-blue);
}

#map {
    height: 100vh; 
    z-index: 1;
}

/* @media (min-width: 576px) { ... } */

@media (max-width: 1430px) { 
    #overlay {
        width: 200px;
        height: 375px;
    }

    input, label {
        text-align: center;
        display: block;
        margin: 0 auto;
    }
}
/* 
// Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... } */